*{
   background-color:rgb(207, 181, 233);
}
.navbar{
    font-weight: bolder;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#333;
}
.filter{
    background-color: #333;
    margin-left: 80px;
}
#fleetCard{
    flex-grow:1 ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 200px;
}
.sidebar{
    width: 300px;
    padding:20px;
    border: 1px solid black;
}