*{
    background-color: aquamarine;
}
.loginpage{
    height: 250px;
    width:300px;
    box-shadow: 0px 3px 11px black;
    padding: 20px;
    border-radius: 10px;
    background-color: pink;
    
}
lable{
    background-color: pink;
    font-weight: bolder;
}
#login{
    border-radius: 6px;
    padding: 10px;
    width: 100px;
    font-weight: bolder;
    margin-left: 80px;
    margin-top: 40px;
}